.auth-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #f8fafc;
    padding: 20px;
    box-sizing: border-box;
}

.auth-card {
    width: 100%;
    max-width: 420px;

    background: white;
    padding: 35px;

    border-radius: 12px;

    border: 1px solid #e5e7eb;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

    box-sizing: border-box;
}

.auth-logo {
    text-align: center;
    color: #2563eb;

    font-size: 22px;
    font-weight: 700;

    margin-bottom: 25px;
}

.auth-card h1 {
    margin: 0;
    text-align: center;
    color: #1e293b;
}

.auth-subtitle {
    text-align: center;
    color: #64748b;
    margin-bottom: 25px;
}

.auth-card form {
    display: flex;
    flex-direction: column;
}

.auth-card label {
    margin: 12px 0 7px;

    color: #334155;
    font-size: 14px;
    font-weight: 600;
}

.auth-card input {
    padding: 12px;

    border: 1px solid #cbd5e1;
    border-radius: 7px;

    outline: none;
    font-size: 14px;
}

.auth-card input:focus {
    border-color: #2563eb;
}

.auth-btn {
    margin-top: 22px;

    padding: 12px;

    border: none;
    border-radius: 7px;

    background: #2563eb;
    color: white;

    font-size: 15px;
    font-weight: 600;

    cursor: pointer;
}

.auth-btn:hover {
    background: #1d4ed8;
}

.auth-bottom {
    margin-top: 22px;

    text-align: center;

    color: #64748b;
    font-size: 14px;
}

.auth-bottom a {
    color: #2563eb;
    text-decoration: none;
    font-weight: 600;
}